<h1>Youngest director</h1>

<p>The youngest director in our dataset right now is <a href="/directors/<%=@director_youngest.id%>"><%=@director_youngest.name%></a>, born on <%= @director_youngest.dob.strftime("%B %d, %Y") %>.
</p>
