<head>
  <title>Target: MSM</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
    <div>
      <h1>About</h1>
      <p>This product uses the TMDB API but is not endorsed or certified by TMDB.</p>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAzNollUu6O-TwhJxMLP7TXdyFNBMXEtcSjA&s" alt="TMDB Logo" width="200">
    </div>
</body>
